.headerRow {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    // margin: 1rem 0 1rem;

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        margin: 1.25rem 10% 1.75rem 10%;
    }

    @media (max-width: 480px) {
        margin: 1rem 5% 1.5rem 5%;
    }
}

.textGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

    @media (max-width: 768px) {
        align-items: center;
        text-align: center;
    }
}

.illustration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustrationImage {
    width: auto;
    max-height: 100%;
    object-fit: contain;
}

.illustrationImagePurple {
    width: auto;
    max-height: 100%;
    object-fit: contain;
    filter: hue-rotate(220deg) saturate(150%) brightness(80%);
}

.title {
    font-family: "Lato", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0.5rem;
    line-height: 1.2;

    @media (max-width: 768px) {
        font-size: clamp(2rem, 4vw, 3rem);
    }

    @media (max-width: 480px) {
        font-size: clamp(1.75rem, 3.5vw, 2.5rem);
    }
}

.description {
    color: #000000;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
}